<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c072cb">  <td>21/01/13 18:45:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.main()[pri:0, instance:Selenium.Pock.AppTest@75329a49]">main</td> 
  <td>main@1107024580</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>21/01/13 18:45:38</td>   <td>13771</td> <td>&nbsp;</td><td title="&lt;&lt;AppTest.quit()[pri:0, instance:Selenium.Pock.AppTest@75329a49]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1107024580</td>   <td></td> </tr>
</table>
